@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova' ;
    src: url('font-Family/Proxima\ Nova\ Font.otf');
}
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}

body{
    @apply bg-bgbody font-proxima
}